<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
        layout:decorate="~{/layout.html}">
<head></head>
<body>
<div layout:fragment="contents">
    <h2>People that you owe</h2>
    <p id="no_payment_requests_received" th:if="${#lists.isEmpty(payment_received)}">You don't owe anyone anything!</p>
    <div id="payment_requests_received" th:unless="${#lists.isEmpty(payment_received)}">
        <table>
            <tr>
                <th>Who</th>
                <th>What</th>
                <th>Due (in days)</th>
                <th>How much</th>
            </tr>
            <tr th:block th:each="payment: ${payment_received}">
                <td><p><span th:text="${payment.getPersonRequestingPayment().email}">No one</span></p></td>
                <td><p><span th:text="${payment.expense.getDescription}">Lunch</span></p></td>
                <td><p><span th:text="${payment.daysLeftToPay()}">Lunch</span></p></td>
                <td><p><span th:text="${payment.getAmountToPay()}">ZAR 120</span></p></td>
                <td th:if="!${payment.isPaid()}">
                    <form method="post" action="/payment.action" enctype="application/x-www-form-urlencoded">
                        <input type="hidden" th:value="${payment.getId()}" id="id" name="id"/>
                        <input type="hidden" th:value="${payment.getPersonRequestingPayment().email}" id="name" name="name"/>
                        <input type="hidden" th:value="${payment.getAmountToPay()}" id="amount" name="amount"/>
                        <input type="hidden" th:value="${payment.expense.getDescription}" id="description" name="description"/>
                        <input type="submit" th:value="Pay" th:id="pay">
                    </form></td>
                <td th:if="${payment.isPaid()}"> <input th:value="Paid" th:id="paid_1" type="submit"></td>

            </tr>
            <tfoot>
            <td>Total Unpaid</td>
            <td></td>
            <td></td>
            <td th:text="${total}" id="grand_total"></td>
            </tfoot>

        </table>
    </div>
</div>
</body>

</html>